APP_NAME=yolo-service
APP_PORT=8001
YOLO_MODEL_PATH=app/models/yolo11s.pt
CONFIDENCE_THRESHOLD=0.10
YOLO_IMAGE_SIZE=1024
OBSTRUCTION_THRESHOLD=0.20
SAVE_ANNOTATED_IMAGES=true
ZONES_FILE_PATH=app/static/zones.json
UPLOADS_DIR=app/uploads
RESULTS_DIR=app/results
ENABLE_TOPDOWN_CLASS_ALIASES=true
